/*====================================================================================*\
    ELEMENTS
\*====================================================================================*/
/**==================================================================================**\                                                                                             
 * CONTENT............................................................................*                                                      
 *   * COMMON................Forms/ Buttons/ Cards
 *   * GO....................Background
 *   * ADVENTURE.............Background /Form
 *   * WHOAREYOU.............Background
 *   * MOREFRIENDS...........Background /Form
 *   * FINITO................Background /Form
 *   * ......................
 *   * ................................................................................*                                                         
 \**==================================================================================**/

body {
	margin:0;
	padding:0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}

h1 {
	color:#FFF;
	font-family: "Code";
	font-size: 3.3em;
	letter-spacing: 0.1em;
	text-align: center;
}

h2 {	
	color: #FFF;
	font-family: "Lovelo";
	font-size: 3em;
	font-weight: 500;
	text-align: center;
}

h3 {	
	color: #FFF;
	font-family: "Code";
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	COMMON - COMMON - COMMON - COMMON - COMMON - COMMON    
\*==========================================================*/ 

header {
	padding-top:15vh;
	margin: auto;
	height:35vh;
}

.instruction {
	margin: auto;
	padding-bottom:4vh;
	height:2.5vh;
	line-height:2.5vh;
} 

.content-small {
	margin: auto;
	padding-top: 1vh;
	height:40vh;
	width: 40vw;
} 

.content {
	margin: auto;
	padding-top: 1vh;
	height:40vh;
	width: 80vw;
} 

.validation  {
  position: fixed;
  bottom:11vh;
  left:0;
  right: 0;
}

p {
	color:#FFF;
	font-family: 'Code', sans-serif;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	text-align: center;
/*	text-transform: uppercase;*/
}

/*===============================*\ 
	COMMON - FORM               
\*===============================*/ 

.form-inline, #loginForm, #loginForm-reduce {
	margin: 0 auto;
	text-align: center;
}

#loginForm-reduce
 {
	width:20vw;
}

input {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

/*===============================*\ 
	COMMON - BUTTON            
\*===============================*/ 

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  border: 2px solid #FFF;
  color: #FFF;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 2px solid #FFF;
  outline: none;
  background-color: #FFF;
  color:gray;
}

#tryit .btn-default:hover,
#tryit .btn-default:focus {
  border: 2px solid #60BDA6;
  outline: none;
  color: #FFF;
  background-color: #60BDA6;
}

.button-delete {
	float: right;
	vertical-align: middle;
	width:2vw;
	border: none;
}

.button-validation {
	position: fixed;
	display: block;
	left: 0;
	right: 0;
	bottom:5vh;
	text-align: center;
}

/*===============================*\ 
	COMMON - PADDING TOP IN FORM             
\*===============================*/ 

#go .input-group, #whoareyou #loginForm {
	margin: 0 auto;
	padding-top: 7vh;
	width: 15vw;
}

/*===============================*\ 
	COMMON - CARDS             
\*===============================*/ 

.panel-title.pull-left {
	width:70%;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space:nowrap;
}

.col-md-3 .btn-default {
	height:20px;
	width:20px;
	font-size: 10px;
	background-color: transparent;
	border:1px solid transparent;
}

/* Balthazar was here! */

.glyphicon {
	cursor: pointer;
	margin: 5px;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	GOPAGE - GOPAGE - GOPAGE - GOPAGE - GOPAGE - GOPAGE
\*==========================================================*/ 

#go {
	background-image:url("../img/bckgrnd/friends2.jpg"); 
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	ADVENTURE - ADVENTURE - ADVENTURE - ADVENTURE - ADVENTURE
\*==========================================================*/ 


#adventure {
	background-image:url("../img/bckgrnd/balloons.jpg"); 
}

#adventure .col-md-3{
	height: 26vh;
}

/*===============================*\ 
	ADVENTURE - FORM          
\*===============================*/ 

.inline-form  {
	margin: 0 auto;
	width: 30vw;
}

.inline-form .input-group {
	margin: 0 auto;
	width: 10vw;
	text-align: center;
}

#adventure .panel-heading {
 	margin:0.7vw;
 	padding:5px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	width:18vw;
	left:0;
	right:0;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	WHOAREYOU - WHOAREYOU - WHOAREYOU - WHOAREYOU - WHOAREYOU
\*==========================================================*/ 

#whoareyou {
	background-image:url("../img/bckgrnd/forest.jpg"); 
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	MOREFRIENDS - MOREFRIENDS - MOREFRIENDS - MOREFRIENDS
\*==========================================================*/ 

#morefriends {
	background-image:url("../img/bckgrnd/ocean2.jpg"); 
}

#morefriends .panel-heading {
 	margin-bottom:10px;
 	margin-top:0;
}

#morefriends .col-md-3 {
	height: 22vh;
}

/*===============================*\ 
	MOREFRIENDS - FORM               
\*===============================*/ 

#morefriends #loginForm-reduce, #morefriends .liste, #adventure .col-sm-12{
	margin-top:5vh;
} 

#morefriends .col-xs-6 {
	padding-bottom: 3vh;
}

#morefriends .panel-heading {
 	margin:5px 0 5px 0;
 	padding:5px;
	background-color: rgba(0, 0, 0, 0.2);
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	FINITO - FINITO - FINITO - FINITO - FINITO - FINITO
\*==========================================================*/ 

#finito {
	background-image:url("../img/bckgrnd/dawn.jpg"); 
}

/*===============================*\ 
	FINITO - FORM               
\*===============================*/ 

.finitext {
	margin: 0 auto;
	padding-top: 7vh;
	width: 40vw;
}

.quote {
	margin: 0 auto;
	color: #916C96;
	font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 12px;
	text-transform: none;
}

.author {
	font-size: 8px;
	text-align: right;
	margin-right:35px;
}

.bye {
	margin-top: -5vh;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 

\*==========================================================*/ 

@font-face {
    font-family: "Code";
    src: url('../vendor/bootstrap/fonts/Code.otf');
}

@font-face {
    font-family: "Lovelo";
    src: url('../vendor/bootstrap/fonts/Lovelo.otf');
}

svg {
	display:block;
	margin:0 auto;
	width:15vw;
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
}

svg:hover {
  opacity: 0.5;
  animation: hideshow 10s 1.5s ease infinite;
}


/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE
\*==========================================================*/ 


/*MOBILE*MOBILE*MOBILE*MOBILE*MOBILE*/

@media screen and (max-width: 480px) {

	.finitext, .quienestext, #loginForm-reduce, #whoareyou #loginForm {
		width: 100%;
	}

	#finito h2 {	
		font-size: 2.3em;
		position: fixed;
		display: block;
		left: 0;
		right: 0;
		bottom:5vh;
		text-align: center;
	}

	h3 {	
		font-size: 1.3em;
	}

	svg {
		width:30vw;
	}

}

/*TABLET*TABLET*TABLET*TABLET*TABLET*/

@media screen and (max-width: 768px) {

	.finitext, .quienestext, #loginForm-reduce, #whoareyou #loginForm {
		width: 80%;
		margin: 0 auto;
	}

	.content-small
	{
		width:80vw;
		/* Non centrer*/
	}

	h1 {
		font-size: 2.7em;
	}

	header {
		padding-top:5vh;
		height:25vh;
	}

	#go .input-group, #whoareyou #loginForm {
		padding-top: 3vh;
	}

	h2 {	
		font-size: 2.3em;
	}

	svg {
		width:20vw;
	}

}



@media screen and (max-width: 1130px) {

.finitext {
	width: 100%;
}

}