/*====================================================================================*\
    ELEMENTS
\*====================================================================================*/
/**==================================================================================**\                                                                                             
 * CONTENT............................................................................*                                                      
 *   * COMMON................Forms / Buttons / Cards (Ellipsis)
 *   * GO....................Background
 *   * ADVENTURE.............Background / Form
 *   * WHOAREYOU.............Background
 *   * MOREFRIENDS...........Background / Form
 *   * FINITO................Background / Form
 *   * ......................
 *   * RESPONSIVE............Mobile / Tablet / Dekstop
 *   * ................................................................................*                                                         
 \**==================================================================================**/

body {
	margin:0;
	padding:0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}

h1 {
	color:#FFF;
	font-family: "Code";
	font-size: 3.3em;
	letter-spacing: 0.1em;
	text-align: center;
}

h2 {	
	color: #FFF;
	font-family: "Lovelo";
	font-size: 3em;
	font-weight: 500;
	text-align: center;
}

h3 {	
	color: #FFF;
	font-family: "Code";
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	COMMON - COMMON - COMMON - COMMON - COMMON - COMMON    
\*==========================================================*/ 

header {
	padding-top:15vh;
	margin: auto;
	height:35vh;
}

.instruction {
	margin: auto;
	padding-bottom:4vh;
	height:2.5vh;
	line-height:2.5vh;
} 

.content-small {
	margin: auto;
	padding-top: 1vh;
	height:40vh;
	width: 40vw;
} 

.content {
	margin: auto;
	padding-top: 1vh;
	height:40vh;
	width: 80vw;
} 

.validation  {
  position: fixed;
  bottom:11vh;
  left:0;
  right: 0;
}

p {
  color:#FFF;
  font-family: 'Code', sans-serif;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-align: center;
}

/*===============================*\ 
	COMMON - FORM               
\*===============================*/ 

.form-inline, #loginForm, #loginForm-reduce {
	margin: 0 auto;
	text-align: center;
}

#loginForm-reduce
 {
	width:20vw;
}

input {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

/*===============================*\ 
	COMMON - BUTTON            
\*===============================*/ 

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border-radius: 0;  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.btn-default {
  color: #FFF;
  background-color: transparent;
  border: 2px solid #FFF;
}

.btn-default:hover,
.btn-default:focus {
  color:gray;
  background-color: #FFF;
  border: 2px solid #FFF;
  outline: none;
}

#tryit .btn-default:hover,
#tryit .btn-default:focus {
  color: #FFF;
  background-color: #60BDA6;
  border: 2px solid #60BDA6;
  outline: none;
}

.button-delete {
	float: right;
	width:2vw;
  vertical-align: middle;
	border: none;
}

.button-validation {
  display: block;
	position: fixed;
  bottom:5vh;
	left: 0;
	right: 0;
	text-align: center;
}

/*===============================*\ 
	COMMON - PADDING TOP IN FORM             
\*===============================*/ 

#go .input-group, #whoareyou #loginForm {
	margin: 0 auto;
	padding-top: 7vh;
	width: 15vw;
}

/*===============================*\ 
	COMMON - CARDS             
\*===============================*/ 

.panel-title {
	line-height: 2vh;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.panel-title.pull-left {
	width:100%;
	color: #000;
}

.panel-heading {
 	margin:1%;
 	padding:5px;
  text-align:center;
  background-color: #FFF;
  border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;
}

/* Balthazar was here! */

.glyphicon {
	cursor: pointer;
	margin: 5px;
}

/*===== COMMON - CARDS - BUTTONS ======*/ 

.btn-group .btn-default {
	margin-top: 7px;
	padding: 0;
	color: #000;
	line-height: 20px;
}

.btn-default.edit {
	color: green;
	border: 0.5px solid green;
	border-radius: 2px 0 0 2px;
}

.btn-default.remove {
	color: red;
	border: 0.5px solid red;
	border-radius: 0 2px 2px 0;
}

/*===== COMMON - CARDS - ELLIPSIS ======*/ 

.ellipsis {
  height: 6vh;
	overflow: hidden;
	line-height: 25px;
}

.ellipsis p {
	color: #000;
  font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

.ellipsis:before {
	content:"";
	float: left;
  height: 6vh;	
	width: 5px;
}

.ellipsis > *:first-child {
	float: right;
  margin-left: -5px; 
	width: 100%;
}		

.ellipsis:after {
	content: "\02026";  
	margin-left: -3em;
	padding-right: 5px;	
  position: relative;
  float: right; 
	left: 100%; 
	top: -25px; 
	width: 3em;
  color:#FFF;
	text-align: right;
  box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	background-size: 100% 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
	background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
	background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	GOPAGE - GOPAGE - GOPAGE - GOPAGE - GOPAGE - GOPAGE
\*==========================================================*/ 

#go {
	background-image:url("../img/bckgrnd/friends2.jpg"); 
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	ADVENTURE - ADVENTURE - ADVENTURE - ADVENTURE - ADVENTURE
\*==========================================================*/ 


#adventure {
	background-image:url("../img/bckgrnd/balloons.jpg"); 
}

#adventure .col-md-3{
	height: 26vh;
}

/*===============================*\ 
	ADVENTURE - FORM          
\*===============================*/ 

.inline-form  {
	margin: 0 auto;
	width: 30vw;
}

.inline-form .input-group {
	margin: 0 auto;
	width: 10vw;
	text-align: center;
}

#adventure .panel-heading {
	float: left;
	width:23%;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	WHOAREYOU - WHOAREYOU - WHOAREYOU - WHOAREYOU - WHOAREYOU
\*==========================================================*/ 

#whoareyou {
	background-image:url("../img/bckgrnd/forest.jpg"); 
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	MOREFRIENDS - MOREFRIENDS - MOREFRIENDS - MOREFRIENDS
\*==========================================================*/ 

#morefriends {
	background-image:url("../img/bckgrnd/ocean2.jpg"); 
}

/*===============================*\ 
	MOREFRIENDS - FORM               
\*===============================*/ 

#morefriends #loginForm-reduce, #morefriends .liste, #adventure .col-sm-12{
	margin-top:5vh;
} 

#morefriends .panel-heading {
	float: left;
	width:100%;
  margin-bottom: 3vh;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	FINITO - FINITO - FINITO - FINITO - FINITO - FINITO
\*==========================================================*/ 

#finito {
	background-image:url("../img/bckgrnd/dawn.jpg"); 
}

/*===============================*\ 
	FINITO - FORM               
\*===============================*/ 

.finitext {
	margin: 0 auto;
	padding-top: 7vh;
	width: 40vw;
}

.quote {
	margin: 0 auto;
	color: #916C96;
	font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 12px;
	text-transform: none;
}

.author {
	font-size: 8px;
	text-align: right;
	margin-right:35px;
}

.bye {
	margin-top: -5vh;
}

/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 

\*==========================================================*/ 

@font-face {
    font-family: "Code";
    src: url('../vendor/bootstrap/fonts/Code.otf');
}

@font-face {
    font-family: "Lovelo";
    src: url('../vendor/bootstrap/fonts/Lovelo.otf');
}

svg {
	display:block;
	margin:0 auto;
	width:15vw;
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
}

svg:hover {
  opacity: 0.5;
  animation: hideshow 10s 1.5s ease infinite;
}


/*==========================================================*\ 
	CONTENT - CONTENT - CONTENT - CONTENT - CONTENT - CONTENT  
-------------------------------------------------------------- 
	RESPONSIVE - RESPONSIVE - RESPONSIVE - RESPONSIVE
\*==========================================================*/ 


/*MOBILE*MOBILE*MOBILE*MOBILE*MOBILE*/

@media screen and (max-width: 480px) {

	.finitext, .quienestext, #loginForm-reduce, #whoareyou #loginForm {
		width: 100%;
	}

	#finito h2 {
		position: fixed;
		display: block;
    bottom:15vh;
		left: 0;
		right: 0;
		text-align: center;
    font-size: 2.3em;
	}

	h3 {	
		font-size: 1.3em;
	}

	#adventure .panel-heading {
		margin:0 0 1vh 0;
		float: none;
		width:100%	
  }

  /*#morefriends .panel-heading {
    float: left;
  }*/

  #morefriends .col-xs-6 {
    padding-bottom: 3vh;
    width: 100%;
  }

}

/*TABLET*TABLET*TABLET*TABLET*TABLET*/

@media screen and (max-width: 768px) {

	.finitext, .quienestext, #loginForm-reduce, #whoareyou #loginForm {
    margin: 0 auto;
		width: 80%;
	}

	.content-small
	{
		width:80vw;
		/* Non centrer*/
	}

	h1 {
		font-size: 2.7em;
	}

	header {
    height:25vh;
		padding-top:5vh;
	}

	#go .input-group, #whoareyou #loginForm {
		padding-top: 3vh;
	}

	h2 {	
		font-size: 2.3em;
	}

	svg {
		width:200px;
	}
	
}

/*DESKTOP*DESKTOP*DESKTOP*DESKTOP*/

@media screen and (max-width: 1130px) {

.finitext {
	width: 100%;
}

}